<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пользователь заблокирован</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<div class="header">
    <h1>Организация мероприятий</h1>
    <a href="#">Профиль</a>
    <a href="#">Мероприятия</a>
    <a href="#">Пользователи</a>
</div>

<div class="container">
    <div class="blocked-user">
        <img src="https://cdn-icons-png.flaticon.com/512/718/718672.png" alt="Заблокированный пользователь">
        <h3>Пользователь заблокирован</h3><br><br>
    </div>

</div>
</body>
</html>
