<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${surname} + ' ' + ${name}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<div class="header">
    <h1>Организация мероприятий</h1>
    <a>Профиль</a>
    <a>Мероприятия</a>
    <a href="/users">Пользователи</a>
</div>

<div class="container">
    <h2>Данные пользователя</h2>
    <p class="id" th:text="'Идентификатор: ' + ${id}"></p>
    <p th:text="'Фамилия: ' + ${surname}"></p>
    <p th:text="'Имя: ' + ${name}"></p>
    <p th:text="'Отчество: ' + ${patron}"></p>
    <p th:text="'E-mail: ' + ${email}"></p>
    <p th:text="'Данные обновлены: ' + ${updatedAt}"></p>
    <p th:text="'Зарегистрирован: ' + ${createdAt}"></p>
    <button onclick="window.location.href = window.location.href.replace('#','') + '/edit';" class="btn-edit">Редактировать</a>
</div>
</body>
</html>
